<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DB2Test.Properties.Settings.sampleConnectionString"
            connectionString="Database=sample;User ID=USUARIO;Password=smonkw33d;Server=localhost"
            providerName="IBM.Data.DB2" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>